<!DOCTYPE html>
<html>
  <head>
      <title>Jackie</title>
      <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1><a href="/">Jackie - the reporting service</a></h1>
    
    <h2>Events in same correlation_id</h2>
    
    <table>
      <thead>
        <td>correlation_id</td>
        <td>Event Type</td>
        <td>Timestamp</td>
        <td>consistency_key</td>
        <td>consistency_value</td>
        <td>sender</td>
        <td>session_id</td>
      </thead>
      <tbody>
        {{#events}}
          <tr>
            <td><a href="/correlation_id/{{ correlation_id }}/events">{{ correlation_id }}</a></td>
            <td>{{ event_type }}</td>
            <td>{{ timestamp }}</td>
            <td><a href="/consistency_key/{{ consistency.key }}/events">{{ consistency.key }}</a></td>
            <td>{{ consistency.value }}</td>
            <td>{{ sender }}</td>
            <td>{{ session_id }}</td>
          </tr>
        {{/events}}
      </tbody>
    </table>
    
  </body>
</html>
